[user]
	name = Magnus Ramsey
	email = 38709696+SomeDebris@users.noreply.github.com
[core]
	editor = vim
[alias]
	loggraph = log --decorate --oneline --graph
[init]
	defaultBranch = main
[pull]
	rebase = false
[svn]
	rmdir = true
