[user]
	name = Magnus Ramsey
	email = 38709696+SomeDebris@users.noreply.github.com
[core]
	editor = nvim
[alias]
	loggraph = log --decorate --oneline --graph
[init]
	defaultBranch = main
[pull]
	rebase = true
[svn]
	rmdir = true
[merge]
	tool = vimdiff
[commit]
	gpgsign = true
[gpg]
	program = gpg
