*.netrwhist
.vim/view/*
.vim/plugged/*
.vim/autoload/plug.vim

.config/*
!.config/obs-studio
.config/obs-studio/*
!.config/obs-studio/basic

!.config/alacritty

!.config/i3
!.config/sway
!.config/fish

!.config/FreeCAD
.config/FreeCAD/*
!.config/FreeCAD/user.cfg

!.config/nvim
.config/nvim/*
!.config/nvim/init.vim

.local/*
!.local/bin
.local/bin/*
!.local/bin/discord-flatpak
!.local/bin/tauon-mb-flatpak
!.local/bin/resolve

